<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <h2 class="text-center">
    Edit your profile!
  </h2>
  <p class="text-center">
    There's a form here, delivering your information to the server like a stork. That's where profiles come from. 
  </p>
  <div class="well">
    <%= render 'form' %>
  </div>
  </div>
</div>