<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>About</h2>
    <p>This is a web application created after following CoderManual's Rails tutorial. I mostly did it to refresh my memory. The idea is to allow users to sign up for a community. Basic users can view profiles for free, while Pro accounts can view contact information.</p>
    <p>I added a little extra thing that wasn't in the videos, which was to allow users Pros to downgrade without deleting their account, as well as allowing Basic users to upgrade.</p>
    <p>This app uses Devise for authentication, and Stripe for payments</p>
  </div>
</div>
